<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stonewu.agenteam.mapper.test.resource.ResourceDraftFixtureMapper">
  <update id="pluginCheckApiExpiredEvidenceAndChangedSelectedToolRequireAnotherReviewUpdate">
    UPDATE resource_draft SET validation_json = JSON_SET(validation_json, '$.connection.checkedAt', #{args[0]}) WHERE
    resource_id = #{args[1]}
  </update>
</mapper>
