*
!LICENSE
!NOTICE
!agenteam-server/
agenteam-server/*
!agenteam-server/pom.xml
!agenteam-server/mvnw
!agenteam-server/.mvn/
!agenteam-server/.mvn/wrapper/
!agenteam-server/.mvn/wrapper/maven-wrapper.properties
!agenteam-server/src/
agenteam-server/src/*
!agenteam-server/src/main/
!agenteam-server/src/main/**
!agenteam-server/agenteam-tool-api/
agenteam-server/agenteam-tool-api/*
!agenteam-server/agenteam-tool-api/src/
!agenteam-server/agenteam-tool-api/src/main/
!agenteam-server/agenteam-tool-api/src/main/**
!deploy/
deploy/*
!deploy/Dockerfile.source
!deploy/container/
!deploy/container/**
