<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stonewu.agenteam.mapper.execution.PreviewRetentionSqlMapper">
  <delete id="removeMessageFeedback">
    DELETE f FROM message_feedback f JOIN agent_message m ON m.enterprise_id = f.enterprise_id AND m.id = f.message_id
    WHERE m.enterprise_id = #{enterprise} AND m.conversation_id = #{conversation}
  </delete>
</mapper>
