<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stonewu.agenteam.mapper.resource.TagSqlMapper">
  <update id="deleteResource">
    UPDATE resource r JOIN resource_tag rt ON rt.enterprise_id = r.enterprise_id AND rt.resource_id = r.id SET
    r.revision = r.revision + 1, r.updated_at = #{now} WHERE rt.enterprise_id = #{enterprise} AND rt.tag_id = #{id}
  </update>
</mapper>
